# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.env

# Outputs (CRITICAL)
*.log
vega_config.json

# IDE Settings
.idea/

# Binaries (Better to let users provide their own)
*.exe
*.dll
*.zip
