# No external libraries needed for the base app (Tkinter/Subprocess are built-in)
# But we need these for our Automation/Testing:
pytest==7.4.0
flake8==6.1.0
bandit==1.7.5
pytest==7.4.0
beautifulsoup4==4.14.3
requests==2.31.0
matplotlib==3.7.2
